  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
      text-decoration: none;
      color: #ffffff;
      font-family: 'Playfair Display', serif;
    }
  
  .logo {
      font-family: 'Allison', cursive;
    padding: 5px 30px;
      letter-spacing: 0.3em;
      font-size: 2rem;
      animation: light 3s infinite;
    }
    
   
   /* Animation */
    @keyframes light {
      from {
          color: #ffffff;
      }
      
      to {
          color: #66BFBF;
     }
  }
    
    .flex-container {
      background-color: #66BFBF;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      top: 0;
      left: 0;
      right: 0;
  }
  
    .navigation {
      list-style: none;
      display: flex;
    }
    
    .navigation li {
      padding: 20px 30px;
      letter-spacing: 0.3em;
      position: relative;
    }
    
    .navigation li:hover {
      background-color: #22D1D7;
    }
  
  .drop {
    position: absolute;
    background-color: #66BFBF;
    left: 0;
    top: 100%
  }
    
  .drop li {
    display: none;
    letter-spacing: 0.2em;
  }
  
  .navigation li:hover .drop li {
    display: block;
  }


body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    background-color: #dbf6f7;
    text-align: center;
    color: #40514E;
}

hr {
    color: #45dfdf;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 5%;
    margin: 50px auto;
}

h1 {
    color: #66BFBF;
    font-family: 'Satisfy', cursive;
    font-size: 8vw; 
    margin: 0;
    font-weight: normal;
}

h2 {
    color: #66BFBF;
    font-family: 'Dancing Script', cursive;
    font-size: 5vw;
    font-weight: normal;
    padding: 50px;
}

h3 {
    color: #11999E;
}

p { 
    line-height: 2;
    padding-bottom: 50px;
    color: #11999E;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbf6f7;
}

.middle-container {
    margin: 50px 0;
}

.top-code {
  height: 20%;
  width: 20%;
  align-self: flex-end;
}

.bottom-code {
  height: 20%;
  width: 20%;
  align-self: flex-start;
}

.cat-coding {
  width: 60vw;
}

.pro {
  text-decoration: underline;
}

.Kakuli {
  height: 200px;
  width: 120px;
  border-style: solid;
  border-color: #66BFBF;
  border-width: 5px;
  padding: 5px;
  transition: height 2s, width 2s;
}

.Kakuli:hover {
  height: 225px;
  width: 135px;
}

.intro {
    margin: auto auto 50px auto;
    width: 30%;
    line-height: 2;
}

.img-skill {
    float: left;
    width: 25%;
    margin-right: 30px;
}

.img-skill-cooking {
    float: right;
    width: 25%;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 60px auto;
    text-align: left;
}

.connect {
    width: 30%;
    margin: auto;
    padding-top: 20px;
    padding: 40px;
}
.footer-link {
    color: #11999E;
}

.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #11999E);
    background-image: -moz-linear-gradient(top, #11999E, #11999E);
    background-image: -ms-linear-gradient(top, #11999E, #11999E);
    background-image: -o-linear-gradient(top, #11999E, #11999E);
    background-image: -webkit-gradient(to bottom, #11999E, #11999E);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    height: 50px;
    line-height: 13px;
    color: #FFFFFF;
    font-family: Arial;
    width: 190px;
    font-size: 18px;
    padding: 20px;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.1rem;
 }
 
 .btn:hover {
    border: solid #FFFFFF 1px;
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #22D1D7);
    background-image: -moz-linear-gradient(top, #11999E, #22D1D7);
    background-image: -ms-linear-gradient(top, #11999E, #22D1D7);
    background-image: -o-linear-gradient(top, #11999E, #22D1D7);
    background-image: -webkit-gradient(to bottom, #11999E, #22D1D7);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    text-decoration: none;
 }

 .bottom-container {
     background-color: #66BFBF;
     padding-top: 30px;
     margin-top: 80px;
 }

.footer-img {
    height: 50px;
    width: 50px;
    margin: auto 20px;
}  

 .copyright {
     color: #EAF6F6;
     font-size: 0.75rem;
     margin: 20px auto;
 }

 /* Breakpoints: 990px and 600px*/

 @media screen and (max-width: 990px){
  .flex-container {
    flex-direction: column;
}
}

@media screen and (max-width: 600px) {
.flex-container {
  position: relative;
}
.navigation {
  flex-direction: column;
  width: 100%;
}
.navigation li {
  border-top: 1px inset #DDDDDD;
  text-align: center;
}
.navigation li:hover .drop li{
display: none;
}
h1 {
  font-size: 9vw;
}
h2 {
  font-size: 7vw;
}  
h3 {
   font-size: 0.9rem;
  }
  .connect {
    width: 60%;
  }
  .intro {
    width: 60%;
  }
}

