/* Breakpoints: 990px and 600px*/

.logo {
    color: #ffffff;
    font-family: 'Allison', cursive;
  }
  
  .flex-container h1 {
    padding: 20px 20px 0;
    letter-spacing: 0.3em;
    align-self: stretch;
    text-align: center;
    margin: 0; 
    font-size: 2rem;
  }
  
  .flex-container {
    background-color: #66BFBF;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  
  .navigation {
    display: flex;
  }
  
  .navigation li {
    list-style: none;
    padding: 15px;
    letter-spacing: 0.3em;
  }
  
  .navigation li:hover {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #22D1D7);
    background-image: -moz-linear-gradient(top, #11999E, #22D1D7);
    background-image: -ms-linear-gradient(top, #11999E, #22D1D7);
    background-image: -o-linear-gradient(top, #11999E, #22D1D7);
    background-image: -webkit-gradient(to bottom, #11999E, #22D1D7);
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
  }
  
body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    background-color: #dbf6f7;
    text-align: center;
    color: #40514E;
}

hr {
    color: #45dfdf;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 5%;
    margin: 50px auto;
}

h1 {
    color: #66BFBF;
    font-family: 'Satisfy', cursive;
    font-size: 8vw; 
    margin: 0;
}

h2 {
    color: #66BFBF;
    font-family: 'Dancing Script', cursive;
    font-size: 5vw;
    font-weight: normal;
    margin: 0;
}

h3 {
    color: #11999E;
}

p { 
    line-height: 2;
    padding-bottom: 50px;
    color: #11999E;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbf6f7;
}

.middle-container {
    margin: 50px 0;
}

.top-code {
  height: 20%;
  width: 20%;
  align-self: flex-end;
}

.bottom-code {
  height: 20%;
  width: 20%;
  align-self: flex-start;
}

.cat-coding {
  width: 60vw;
}

.pro {
  text-decoration: underline;
}

.Kakuli {
  height: 200px;
  width: 120px;
  border-style: solid;
  border-color: #66BFBF;
  border-width: 5px;
  padding: 5px;
}

.intro {
    margin: auto auto 50px auto;
    width: 30%;
    line-height: 2;
}

.img-skill {
    float: left;
    width: 25%;
    margin-right: 30px;
}

.img-skill-cooking {
    float: right;
    width: 25%;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.connect {
    width: 30%;
    margin: auto;
    padding-top: 20px;
}
.footer-link {
    color: #11999E;
}

.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #11999E);
    background-image: -moz-linear-gradient(top, #11999E, #11999E);
    background-image: -ms-linear-gradient(top, #11999E, #11999E);
    background-image: -o-linear-gradient(top, #11999E, #11999E);
    background-image: -webkit-gradient(to bottom, #11999E, #11999E);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    height: 6px;
    line-height: 6px;
    color: #FFFFFF;
    font-family: Arial;
    width: 149px;
    font-size: 20px;
    padding: 20px;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #FFFFFF 1px;
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #22D1D7);
    background-image: -moz-linear-gradient(top, #11999E, #22D1D7);
    background-image: -ms-linear-gradient(top, #11999E, #22D1D7);
    background-image: -o-linear-gradient(top, #11999E, #22D1D7);
    background-image: -webkit-gradient(to bottom, #11999E, #22D1D7);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    text-decoration: none;
 }

 .bottom-container {
     background-color: #66BFBF;
     padding-top: 30px;
     margin-top: 80px;
 }

.footer-img {
    height: 50px;
    width: 50px;
    margin: auto 20px;
}  

 .copyright {
     color: #EAF6F6;
     font-size: 0.75rem;
     margin: 20px auto;
 }

 /* NOT supported by most browsers yet (Media Query Level 4)
 @media screen and (300px <= width <= 500px) {
     h1 {
         color: pink;
     }
 } */
/* @media screen and (min-width: 300px) and (max-width: 500px) {
    h1 {
        color: pink;
    }   
} */

@media screen and (max-width: 990px){
    .flex-container {
      flex-direction: column;
      align-items: center;
    }
    
    .navigation {
      margin: 0 0;
    }
}

@media screen and (max-width: 600px) {
  .navigation {
    flex-direction: column;
    align-self: stretch;
    padding-inline-start: 0;
  }
  .navigation li {
    border-top: 1px inset #DDDDDD;
    align-self: stretch;
    text-align: center;
  }
    h3 {
     font-size: 0.9rem;
    }
  }

